.toastifySuccess {
    background: linear-gradient(to right, #f83600, #fe8c00);
    color: #ffffff;
    border-radius: 1rem;
    border: 2px solid #ffffff;
    margin: 1rem;
    text-align: center;
    font-family: Bungee Inline, sans-serif;
}
.toastifyBar {
    background-color: #ffffff;
}
.toastifyError {
    text-align: center;
    font-weight: bold;
    background-color: #290001;
    color: #efefef;
    border-radius: 1rem;
    border: 2px solid #efefef;
    margin: 1rem;
    background-clip: content-box;
}