.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #290001;
}
.navbarUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #290001;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}