.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 5rem;
    max-height: 10rem;
    background: #EEEEEE;
}
.navbarUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
    max-height: 10rem;
    height: 100%;
    width: 100%;
    background: #EEEEEE;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}